.aem-alert .aem-alert-element {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 40px;
    position: relative
}

.aem-alert .aem-alert-element:not(:last-child) {
    margin-bottom: 20px
}

.aem-alert .aem-alert-element .aem-alert-element-icon {
    width: 50px;
    text-align: left
}

.aem-alert .aem-alert-element .aem-alert-element-icon span {
    font-size: 24px
}

.aem-alert .aem-alert-element .aem-alert-element-content {
    width: calc( 100% - 50px );
    text-align: left
}

.aem-alert .aem-alert-element .aem-alert-element-content h5 {
    margin: 0 0 10px;
    font-size: 20px
}

.aem-alert .aem-alert-element .aem-alert-element-content p {
    margin: 0;
    font-size: 16px
}

.aem-alert .aem-alert-element .aem-alert-element-dismiss-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0
}

.aem-alert .aem-alert-element .aem-alert-element-dismiss-icon svg {
    width: 16px;
    height: 16px;
    cursor: pointer
}

.aem-alert .aem-alert-element .aem-alert-element-dismiss-icon svg path {
    fill: #A1A5B5
}

.aem-alert-element-dismiss-button {
    display: inline-block
}

.aem-alert-element-dismiss-button .aem-alert-element-dismiss-cancel,.aem-alert-element-dismiss-button .aem-alert-element-dismiss-done {
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 15px
}

.aem-alert-element-dismiss-button button {
    border: none
}

@media only screen and (max-width: 767px) {
    .aem-alert .aem-alert-element {
        flex-direction:column
    }

    body .aem-alert .aem-alert-element .aem-alert-element-content,body .aem-alert .aem-alert-element .aem-alert-element-icon {
        width: 100% !important
    }
}

/* Contact form 7 */

.aem-contact-form-7 .wpcf7 {
    width: 100%
}

.aem-contact-form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 30px
}

.aem-contact-form .aem-contact-form-title {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    font-size: 30px;
    color: #132c47;
    font-weight: 500
}

.aem-contact-form .aem-contact-form-input-group {
    width: 100%;
    margin-bottom: 20px;
    position: relative
}

@media (max-width: 575px) {
    .aem-contact-form .aem-contact-form-input-group {
        width:100%
    }
}

.aem-contact-form-7 input[type="text"],.aem-contact-form-7 input[type="email"],.aem-contact-form-7 input[type="url"],.aem-contact-form-7 input[type="password"],.aem-contact-form-7 input[type="search"],.aem-contact-form-7 input[type="number"],.aem-contact-form-7 input[type="tel"],.aem-contact-form-7 input[type="range"],.aem-contact-form-7 input[type="date"],.aem-contact-form-7 input[type="month"],.aem-contact-form-7 input[type="week"],.aem-contact-form-7 input[type="time"],.aem-contact-form-7 input[type="datetime"],.aem-contact-form-7 input[type="datetime-local"],.aem-contact-form-7 input[type="color"],.aem-contact-form-7 textarea {
    width: 100%;
    border: none
}

.aem-contact-form-7 label {
    display: block
}

.aem-contact-form-7 textarea {
    height: auto
}

.aem-contact-form .aem-contact-form-input-group label {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    margin-top: 20px;
    padding: 0 0 0 25px
}

.aem-contact-form .aem-contact-form-input-group label input {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.aem-contact-form .aem-contact-form-input-group label input:checked ~ .checkmark:after {
    display: block
}

.aem-contact-form .aem-contact-form-input-group label input:checked ~ .checkmark {
    background-color: #4ce2bd;
    border: none
}

.aem-contact-form .aem-contact-form-input-group label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #e3e6ec
}

.aem-contact-form .aem-contact-form-input-group label .checkmark::after {
    content: "\e90e";
    font-family: eicons;
    position: absolute;
    display: none;
    color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 12px
}

.aem-contact-form-7 .wpcf7-form input[type="submit"] {
    transition: all 0.4s ease;
    display: flex
}

.aem-contact-form-7 .aem-cf7-column {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 15px
}

.aem-contact-form .aem-contact-form-input-action i {
    margin-left: 10px
}

.aem-contact-form.two {
    display: flex;
    flex-wrap: wrap
}

.aem-contact-form-7 br {
    display: none
}

/* Flip Box Start */

.aem-flip-box {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    background-color: transparent;
  }
  
  .aem-flip-box-front-overlay, .aem-flip-box-back-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .aem-flip-box-front-content, .aem-flip-box-back-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .aem-flip-box:hover .left-to-right {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .aem-flip-box:hover .left-to-right .aem-flip-box-front {
    opacity: 0;
  }
  
  .aem-flip-box:hover .right-to-left {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  
  .aem-flip-box:hover .right-to-left .aem-flip-box-front {
    opacity: 0;
  }
  
  .aem-flip-box:hover .top-to-bottom {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  
  .aem-flip-box:hover .top-to-bottom .aem-flip-box-front {
    opacity: 0;
  }
  
  .aem-flip-box:hover .bottom-to-top {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  
  .aem-flip-box:hover .bottom-to-top .aem-flip-box-front {
    opacity: 0;
  }
  
  .aem-flip-box:hover .top-to-bottom-angle {
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
    transform: rotate3d(1, 1, 0, -180deg);
  }
  
  .aem-flip-box:hover .top-to-bottom-angle .aem-flip-box-front {
    opacity: 0;
  }
  
  .aem-flip-box:hover .bottom-to-top-angle {
    -webkit-transform: rotate3d(1, 1, 0, 180deg);
    transform: rotate3d(1, 1, 0, 180deg);
  }
  
  .aem-flip-box:hover .bottom-to-top-angle .aem-flip-box-front {
    opacity: 0;
  }
  
  .aem-flip-box:hover .aem-flip-box-inner.fade-in-out .aem-flip-box-front {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    z-index: 2;
  }
  
  .aem-flip-box:hover .aem-flip-box-inner.fade-in-out .aem-flip-box-back {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 3;
  }
  
  .aem-flip-box .aem-flip-box-inner {
    position: relative;
    transition: -webkit-transform 1s cubic-bezier(.17,.67,.47,1.18);
    transition: transform 1s cubic-bezier(.17,.67,.47,1.18);
    transition: transform 1s, -webkit-transform 1s cubic-bezier(.17,.67,.47,1.18);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    width: 100%;
    height: 100%;
  }
  
  .aem-flip-box .aem-flip-box-inner .aem-flip-box-front {
    transition: all .5s cubic-bezier(.17,.67,.47,1.18);
  }
  
  
  .aem-flip-box .aem-flip-box-inner .aem-flip-box-front .aem-flip-box-front-title {
    font-size: 30px;
  }
  
  .aem-flip-box .aem-flip-box-inner .aem-flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .aem-flip-box .aem-flip-box-front .aem-flip-box-front-image i {
    font-size: 50px;
  }
  
  .aem-flip-box .aem-flip-box-inner .aem-flip-box-back .aem-flip-box-back-action {
    text-decoration: none;
    transition: all .4s ease;
    display: inline-block;
    font-weight: 400;
  }
  
  .aem-flip-box .aem-flip-box-inner .aem-flip-box-back a.aem-flip-box-back-action:hover {
    cursor: pointer;
  }
  
  .aem-flip-box .aem-flip-box-inner.left-to-right .aem-flip-box-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .aem-flip-box .aem-flip-box-inner.right-to-left .aem-flip-box-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .aem-flip-box .aem-flip-box-inner.top-to-bottom .aem-flip-box-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  
  .aem-flip-box .aem-flip-box-inner.bottom-to-top .aem-flip-box-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  
  .aem-flip-box .aem-flip-box-inner.top-to-bottom-angle .aem-flip-box-front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .aem-flip-box .aem-flip-box-inner.top-to-bottom-angle .aem-flip-box-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(1, 1, 0, 180deg);
    transform: rotate3d(1, 1, 0, 180deg);
  }
  
  .aem-flip-box .aem-flip-box-inner.bottom-to-top-angle .aem-flip-box-front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .aem-flip-box .aem-flip-box-inner.bottom-to-top-angle .aem-flip-box-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
    transform: rotate3d(1, 1, 0, -180deg);
  }
  
  .aem-flip-box .aem-flip-box-inner.fade-in-out .aem-flip-box-front {
    transition: all .8s cubic-bezier(.17,.67,.47,1.18);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  .aem-flip-box .aem-flip-box-inner.fade-in-out .aem-flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    transition: all .8s cubic-bezier(.17,.67,.47,1.18);
  }
  
  .aem-flip-box .aem-flip-box-inner.three-d-flip .aem-flip-box-front {
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.3, 1.32);
    transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.3, 1.32);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.3, 1.32);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.3, 1.32), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.3, 1.32);
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    min-height: 280px;
    background: #ffffff;
  }
  
  .aem-flip-box .aem-flip-box-inner.three-d-flip .aem-flip-box-front .aem-flip-box-front-content {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    -webkit-perspective: inherit;
            perspective: inherit;
  }
  
  .aem-flip-box .aem-flip-box-inner.three-d-flip .aem-flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.3, 1.32);
    transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.3, 1.32);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.3, 1.32);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.3, 1.32), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.3, 1.32);
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    min-height: 280px;
    height: auto;
    width: 100%;
    background: #ffffff;
  }
  
  .aem-flip-box .aem-flip-box-inner.three-d-flip .aem-flip-box-back .aem-flip-box-back-content {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    -webkit-perspective: inherit;
            perspective: inherit;
  }
  
  .aem-flip-box .aem-flip-box-inner.three-d-flip:hover .aem-flip-box-front, .aem-flip-box .aem-flip-box-inner.three-d-flip:hover .aem-flip-box-back {
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.3, 1.32);
    transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.3, 1.32);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.3, 1.32);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.3, 1.32), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.3, 1.32);
  }
  
  .aem-flip-box .aem-flip-box-inner.three-d-flip:hover .aem-flip-box-front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .aem-flip-box .aem-flip-box-inner.three-d-flip:hover .aem-flip-box-back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .aem-flip-box .aem-flip-box-inner.fade .aem-flip-box-back{
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .aem-flip-box .aem-flip-box-inner.fade:hover .aem-flip-box-front {
    opacity: 0;
  }
  .aem-flip-box .aem-flip-box-inner.fade:hover .aem-flip-box-back {
    opacity: 1;
  }
  
  .aem-flip-box-front.left .aem-flip-box-front-image, .aem-flip-box-back.left .aem-flip-box-back-image {
    margin-right: auto;
  }
  .aem-flip-box-front.center .aem-flip-box-front-image, .aem-flip-box-back.center .aem-flip-box-back-image {
    margin-left: auto;
    margin-right: auto;
  }
  .aem-flip-box-front.right .aem-flip-box-front-image, .aem-flip-box-back.right .aem-flip-box-back-image {
    margin-left: auto;
  }
  
  .aem-flip-box .aem-flip-box-inner .aem-flip-box-front .aem-flip-box-front-image,
  .aem-flip-box .aem-flip-box-inner .aem-flip-box-back .aem-flip-box-back-image {
    position: relative;
  }
  .aem-flip-box .aem-flip-box-inner .aem-flip-box-front .aem-flip-box-front-image i,.aem-flip-box .aem-flip-box-inner .aem-flip-box-front .aem-flip-box-front-image svg,
  .aem-flip-box .aem-flip-box-inner .aem-flip-box-back .aem-flip-box-back-image i, .aem-flip-box .aem-flip-box-inner .aem-flip-box-back .aem-flip-box-back-image svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .aem-flip-box .aem-flip-box-inner .aem-flip-box-front .aem-flip-box-front-image img,.aem-flip-box .aem-flip-box-inner .aem-flip-box-back .aem-flip-box-back-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
  }
  
  /* Flip Box End */

/* news ticker */

.aem-news-ticker {
  display: block;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  font-size: 14px
}

.aem-news-ticker * {
  box-sizing: border-box
}

.aem-news-ticker.bn-fixed-top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0
}

.aem-news-ticker.bn-fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0
}

.aem-news-ticker .aem-bn-label {
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  text-align: center;
  z-index: 3;
  white-space: nowrap;
  display: flex;
  width: auto;
  user-select: none;
  justify-content: center;
  align-items: center
}

.aem-news-ticker .aem-bn-label {
  padding: 0 15px;
  color: #FFF
}

.aem-news-ticker .aem-bn-label,.aem-news-ticker .aem-bn-label.yes-small:after {
}

.aem-news-ticker .aem-bn-label.yes-small:after {
  position: absolute;
  content: '';
  top: 50%;
  right: -5px;
  transform: translateY(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  z-index: -1
}

.aem-news-ticker .aem-nt-news {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  right: 0;
  overflow: hidden
}

.aem-news-ticker .aem-nt-news ul {
  display: block;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%
}

.aem-news-ticker .aem-nt-news ul li {
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  position: absolute;
  width: 100%;
  display: none;
  color: #333;
  padding: 0 15px;
  margin: 0;
  line-height: inherit
}

.aem-news-ticker .aem-nt-news ul li a {
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #333;
  position: relative;
  display: block;
  overflow: hidden
}

.aem-news-ticker .aem-nt-news ul li a:hover {
  color: #069
}

.aem-news-ticker .bn-loader-text {
  padding: 0 10px
}

.aem-news-ticker .bn-seperator {
  display: inline-block;
  float: left;
  margin-right: 15px;
  width: 30px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative
}

.aem-news-ticker .bn-seperator.aem-nt-news-dot {
  margin-right: 0
}

.aem-news-ticker .bn-seperator.aem-nt-news-dot:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: #333;
  border-radius: 50%;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -4px
}

.aem-news-ticker .bn-prefix {
  color: #d65d7a;
  margin-right: 15px;
  padding-left: 10px
}

.aem-news-ticker .bn-positive {
  color: #0b8457;
  font-weight: bold
}

.aem-news-ticker .bn-negative {
  color: #dc2f2f;
  font-weight: bold
}

.aem-news-ticker .aem-nt-controls {
  width: auto;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #ffffff;
  padding: 0 0 0 20px;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center
}

.aem-news-ticker.bn-direction-rtl .aem-nt-controls {
  flex-direction: row-reverse
}

.aem-news-ticker.bn-direction-rtl .aem-bn-label.yes-small:after {
  right: calc( 100% - 5px )
}

.aem-news-ticker .aem-nt-controls button {
  width: 30px;
  padding: 0;
  border: inherit;
  height: 30px;
  cursor: pointer;
  text-align: center;
  outline: none;
  border-radius: 0;
  width: 30px;
  border: 0
}

.aem-news-ticker .bn-arrow {
  margin: 0;
  display: inline-block;
  height: 8px;
  position: relative;
  width: 8px;
  top: -2px
}

.aem-news-ticker .bn-arrow::after {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-right-style: solid;
  border-right-width: 2px;
  content: '';
  display: inline-block;
  height: 8px;
  left: 0;
  position: absolute;
  top: 0;
  width: 8px
}

.aem-news-ticker .bn-arrow.bn-next {
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  left: -3px
}

.aem-news-ticker .bn-arrow.bn-prev {
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  left: 3px
}

.aem-news-ticker .bn-play {
  position: relative;
  background: #999999;
  width: 0;
  height: 12px;
  display: inline-block;
  margin-left: -5px
}

.aem-news-ticker .bn-play::after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #999999;
  border-width: 8px;
  margin-top: -8px
}

.aem-news-ticker .bn-pause {
  position: relative;
  width: 0;
  height: 14px;
  display: inline-block;
  top: 1px;
  left: -1px
}

.aem-news-ticker .bn-pause::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  left: 3px
}

.aem-news-ticker .bn-pause::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  left: -3px
}

.aem-news-ticker.bn-direction-rtl {
  direction: rtl
}

.aem-news-ticker.bn-direction-rtl .aem-bn-label {
  left: auto;
  right: 0
}

.aem-news-ticker.bn-direction-rtl .aem-nt-controls {
  right: auto;
  left: 0
}

.aem-news-ticker.bn-direction-rtl .bn-seperator {
  margin-left: 15px;
  margin-right: 0;
  float: right
}

.aem-news-ticker.bn-direction-rtl .bn-prefix {
  margin-left: 15px;
  margin-right: 0;
  padding-left: 0;
  padding-right: 10px
}

.aem-news-ticker.bn-direction-rtl .aem-nt-controls button {
  border-left: none
}

.aem-news-ticker.bn-effect-scroll .aem-nt-news ul li {
  display: list-item;
  float: left;
  position: relative;
  width: auto
}

.aem-news-ticker.bn-effect-scroll .aem-nt-news ul li a:focus {
  outline: none
}

.aem-news-ticker.bn-effect-scroll.bn-direction-rtl .aem-nt-news ul li {
  float: right
}

.aem-logo:after {
  content: "\e915";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 18px;
  opacity: .6;
  font-style: normal;
  font-family: Go Essential Elementor
}

/* Tooltip Start */

.aem-tooltip {
  transition: all .3s ease;
}

.aem-tooltip .aem-tooltip-item {
  position: relative;
}

.aem-tooltip .aem-tooltip-content-text {
  line-height: 0.5;
}

.aem-tooltip-align-left {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.aem-tooltip-align-center {
  display: flex;
  width: 100%;
  justify-content: center;
}
.aem-tooltip-align-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.aem-tooltip .aem-tooltip-item .aem-tooltip-content {
  cursor: pointer;
  line-height: 0.6;
  font-size: 16px;
  text-align: center;
  transition: all .3s ease;
}

.aem-tooltip .aem-tooltip-item .aem-tooltip-content a img {
  margin: 0 auto;
}

.aem-tooltip .aem-tooltip-item .aem-tooltip-text {
  position: absolute;
  min-width: 150px;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
  border-radius: 3px;
  font-weight: 300;
  font-size: 16px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.aem-tooltip .aem-tooltip-item .aem-tooltip-text:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.aem-tooltip .aem-tooltip-item .aem-tooltip-content:hover {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.13);
}

.aem-tooltip .aem-tooltip-item.tooltip-left .aem-tooltip-content:hover ~ .aem-tooltip-text {
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  visibility: visible;
  opacity: 1;
}

.aem-tooltip .aem-tooltip-item.tooltip-left .aem-tooltip-text {
  top: 50%;
  right: calc(100% + 1em);
  -webkit-transform: translate3d(-15px, -50%, 0);
          transform: translate3d(-15px, -50%, 0);
}

.aem-tooltip .aem-tooltip-item.tooltip-left .aem-tooltip-text:after {
  top: 50%;
  right: -0.5em;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  border-width: 0.5em 0 0.5em 0.5em;
  border-color: transparent transparent transparent #f9f9f9;
}


.aem-tooltip .aem-tooltip-item.tooltip-bottom .aem-tooltip-content:hover ~ .aem-tooltip-text {
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  visibility: visible;
  opacity: 1;
}

.aem-tooltip .aem-tooltip-item.tooltip-bottom .aem-tooltip-text {
  top: calc(100% + 1em);
  left: 50%;
  -webkit-transform: translate3d(-50%, 15px, 0);
          transform: translate3d(-50%, 15px, 0);
  text-align: center;
}

.aem-tooltip .aem-tooltip-item.tooltip-bottom .aem-tooltip-text:after {
  top: -0.5em;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  border-width: 0 0.5em 0.5em 0.5em;
  border-color: transparent transparent #f9f9f9 transparent;
}


.aem-tooltip .aem-tooltip-item.tooltip-top .aem-tooltip-content:hover ~ .aem-tooltip-text {
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  visibility: visible;
  opacity: 1;
}

.aem-tooltip .aem-tooltip-item.tooltip-top .aem-tooltip-text {
  bottom: calc(100% + 1em);
  left: 50%;
  -webkit-transform: translate3d(-50%, -15px, 0);
          transform: translate3d(-50%, -15px, 0);
  text-align: center;
}

.aem-tooltip .aem-tooltip-item.tooltip-top .aem-tooltip-text:after {
  bottom: -0.5em;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  border-width: 0.5em 0.5em 0 0.5em;
}


.aem-tooltip .aem-tooltip-item.tooltip-right .aem-tooltip-content:hover ~ .aem-tooltip-text {
  -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  visibility: visible;
  opacity: 1;
}

.aem-tooltip .aem-tooltip-item.tooltip-right .aem-tooltip-text {
  top: 50%;
  left: calc(100% + 1em);
  -webkit-transform: translate3d(15px, -50%, 0);
          transform: translate3d(15px, -50%, 0);
  text-align: center;
}

.aem-tooltip .aem-tooltip-item.tooltip-right .aem-tooltip-text:after {
  top: 50%;
  left: -0.5em;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  border-width: 0.5em 0.5em 0.5em 0;
  border-color: transparent #fff transparent transparent;
}
@media ( max-width: 767px ){
  .aem-tooltip .aem-tooltip-item.tooltip-right .aem-tooltip-content:hover ~ .aem-tooltip-text {
    -webkit-transform: translate3d(-405%, -50%, 0);
      transform: translate3d(-45%, -50%, 0);
  }
  .aem-tooltip .aem-tooltip-item.tooltip-left .aem-tooltip-content:hover ~ .aem-tooltip-text {
    -webkit-transform: translate3d(50%, -50%, 0);
            transform: translate3d(50%, -50%, 0);
    visibility: visible;
    opacity: 1;
  }
}
/* Tooltip End */
/* Countdown Timer Start */

.aem-countdown-description {
  text-align: center;
  margin-bottom: 90px;
  position: relative;
  z-index: 2;
}

.aem-countdown-description h2 {
  font-size: 40px;
  color: #0a1724;
  font-weight: 500;
  margin-bottom: 23px;
  position: relative;
}

.aem-countdown-description p {
  margin-bottom: 0;
  padding: 0 300px;
}

.aem-countdown-description {
  color: #fff;
}

.aem-countdown-description h2 {
  color: #fff;
}

.aem-countdown {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.aem-countdown .aem-countdown-container {
  width: calc((100% / 4) - 23px);
  margin-right: 30px;
  text-align: center;
}

.aem-countdown-content-container.yes .aem-countdown{
  justify-content: center;
}
.aem-countdown-content-container.yes .aem-countdown .aem-countdown-container{
  position: relative;
}
.aem-countdown-content-container.yes .aem-countdown-timer-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aem-countdown .aem-countdown-container:last-child {
  margin-right: 0px;
}

.aem-countdown .aem-countdown-container .aem-countdown-timer-wrapper > span {
  display: block;
}

.aem-countdown .aem-countdown-count {
  line-height: 1;
}


.aem-countdown .aem-countdown-count {
  position: relative;
}

.aem-countdown.aem-countdown-divider .aem-countdown-container {
  position: relative;
}

.aem-countdown.aem-countdown-divider .aem-countdown-container::after {
  content: ":";
  font-weight: 100;
  position: absolute;
  right: 0;
  top: 10%;
  color: #ffffff;
  font-size: 70px;
}

.aem-countdown.aem-countdown-divider .aem-countdown-container:last-child::after {
  display: none;
}

.aem-countdown .aem-countdown-count {
  font-size: 80px;
  color: #000;
  text-align: center;
}

.aem-countdown .aem-countdown-title {
  color: #0a1724;
  text-align: center;
}

.aem-coundown-bg > svg {
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.aem-coundown-bg > svg > path {
  fill: rgba(255, 255, 255, 0.078);
}

.aem-countdoen-watermark {
  font-size: 200px;
  color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  font-weight: 700;
}

.aem-countdown-offer-limitation-title {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 38px;
  position: relative;
  z-index: 2;
}

.aem-countdown .message {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 0;
}

.aem-countdown-banner {
  padding: 194px 0;
}

.aem-countdown-banner .aem-countdown-description {
  margin-bottom: 117px;
}


@media (max-width: 1200px) {
  .aem-countdown-description p {
    padding: 0 150px;
  }
}  

@media (max-width: 991px) {
  .aem-countdown-description p {
    padding: 0 20px;
  }
  
  .aem-coundown-bg > svg,
  .aem-countdoen-watermark {
    display: none;
  }
  
}

@media (max-width: 767px) {
  .aem-countdown .aem-countdown-container {
    width: calc((100% / 2) - 20px);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 23px 10px;
  }
  .aem-countdown .aem-countdown-container.gradient-version, .aem-countdown .aem-countdown-container.image-version, .aem-countdown .aem-countdown-container.modern {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .aem-countdown .aem-countdown-container {
    width: calc((100% / 2) - 20px);
    margin-right: 10px;
    margin-left: 10px;
  }
  .aem-countdown .aem-countdown-count {
    font-size: 40px;
  }
  .aem-countdown.aem-countdown-divider .aem-countdown-container::after {
    top: 0;
  }
  .aem-countdown.aem-countdown-divider .aem-countdown-container:nth-child(2)::after {
    display: none;
  }

}

@media (max-width: 480px) {
  .aem-countdown .aem-countdown-container {
    width: calc(100% - 20px);
  }
  .aem-countdown.aem-countdown-divider .aem-countdown-container::after {
    display: none;
  }
}

@media (max-width: 400px) {
  .aem-countdown-banner {
    padding: 97px 0;
  }
  .aem-countdown-banner .aem-countdown-description {
    margin-bottom: 58.5px;
  }
  .aem-countdown-description.two p {
    padding-right: 0px;
  }
}

/* Countdown Timer End */

/* Image Carousel Style Start */

.aem-image-carousel-element {
  visibility:hidden;
  opacity:0;	 
  transition: opacity .3s;
}

.aem-image-carousel-element.slick-initialized {
 visibility:visible;
 opacity:1;
}

.aem-image-carousel-element .aem-image-carousel-item{
 display:none ;
}

.aem-image-carousel-element .aem-image-carousel-item:first-child{
 display:block; 
 visibility:hidden;
} 

.aem-image-carousel-element.slick-initialized .aem-image-carousel-item{
 display:block;
 visibility:visible;
}



.aem-image-carousel .slick-dots {
  width: auto;
  display: table;
  margin: 0 auto;
  padding: 0;
  position: absolute;
}

.aem-image-carousel .slick-dots li {
  list-style: none;
  display: inline-block;
  padding: inherit;
  outline: none;
  border: 0;
}

.aem-image-carousel .slick-dots li button {
  padding: inherit;
  outline: none;
  border: 0;
  text-indent: -9999px;
}

.aem-image-carousel-left img{
  margin-right: auto;
}
.aem-image-carousel-center img{
  margin-left: auto;
  margin-right: auto;
}
.aem-image-carousel-right img{
  margin-left: auto;
}

 .aem-image-carousel-prev, 
 .aem-image-carousel-next {
  position: absolute;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease;
}

 .aem-image-carousel-prev i, .aem-image-carousel-element .aem-image-carousel-next i {
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.aem-image-carousel-element .aem-image-carousel-prev:hover, 
.aem-image-carousel-element .aem-image-carousel-next:hover {
  background: #fff;
}

.aem-image-carousel-element .aem-image-carousel-prev:hover i, 
.aem-image-carousel-element .aem-image-carousel-next:hover i {
  color: #000000;
}

.aem-image-carousel-element .aem-image-carousel-prev {
  z-index: 1;
  top: 50%;
  left: -80px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.aem-image-carousel-element .aem-image-carousel-next {
  z-index: 1;
  top: 50%;
  right: -80px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
} 

.aem-image-carousel .slick-dots {
  width: auto;
  display: table;
  margin: 0 auto;
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
}
.aem-image-carousel-element.aem-image-carousel-max-height-yes .aem-image-carousel-item{
  display: flex;
  align-items: center;
}

/* carousel style */
.aem-carousel-item .aem-carousel-nav-prev,
.aem-carousel-item .aem-carousel-nav-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  background: transparent;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease;
  z-index: 1;
}

.aem-carousel-item .aem-carousel-nav-prev i,
.aem-carousel-item .aem-carousel-nav-next i {
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.aem-carousel-item .aem-carousel-nav-prev:hover,
.aem-carousel-item .aem-carousel-nav-next:hover {
  color: #0a1724;
}

.aem-carousel-item .aem-carousel-nav-prev {
  left: -70px;
}

.aem-carousel-item .aem-carousel-nav-next {
  right: -70px;
}

/* Image Carousel Style End */